body {
    background-image: linear-gradient( -10deg, #f10d5e 0%, #ffb43e 25%, #43e03c 50%, #6528ff 100%);
    animation: unicorn-slide 10s ease infinite;
    -webkit-animation: unicorn-slide 10s ease infinite;
    background-size: 200% 200%;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

      @keyframes unicorn-slide {
        0% { background-position: 0% 50% }
        50% { background-position: 100% 50% }
        100% { background-position: 0% 50% }
     }
  
      @-webkit-keyframes unicorn-slide {
        0% { background-position: 0% 50% }
        50% { background-position: 100% 50% }
        100% { background-position: 0% 50% }
     }

     h1{
        font-family: fantasy;
        margin-top: 20%;
       font-size: 3rem;
       padding: 38%;
       padding-top: 0%;

     }
     ul{
        list-style: none;
        margin: 0;
        padding: 0;
     }
     